<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>destination</key>
        <string>export</string>
        <key>method</key>
        <string>adhoc</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>com.Tissatech.TestCICD</key>
            <string>79d79fb5-a1b7-464b-9794-50b15dad1aa9</string>
        </dict>
        <key>signingCertificate</key>
        <string>iPhone Distribution</string>
        <key>signingStyle</key>
        <string>manual</string>
        <key>teamID</key>
        <string>8H4VCQCSWU</string>
    </dict>
</plist>
